@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html{
    background-color: #f5f5f5;;
}
h1{
    color: #ffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: -10px;
}
h2{
    color: #ffff;  
    font-weight: normal;
    margin-bottom: 35px;
}
h3{
    color: #17abb3;
    border-bottom: 2px solid rgb(168, 168, 168);
}
h4{
    margin: 0px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    margin: 50px;
    cursor: zoom-in;
}
header{
    background-color: #17abb3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: #e3e3e3;
}
.groupe1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.groupe2{
    display: flex;
    justify-content: space-around;
}
address{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
address a:hover{
    opacity: 0.4;
}
body{
    margin: auto;
    max-width: 1160px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    display: flex;
}
#colonnegauche{
    width: 30%;
    padding:0px 20px 0px 20px;
    background-color: #e3e3e3;
    margin: 1px;
}
.colonnedroite{
    width: 70%;
    padding: 30px;
    background-color: #ffffff;

}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.etoiles{
    font-weight: bold;
}
.etoiles li{
    display: inline-flex;
    justify-content: space-between;
}
.etoiles li span{
    font-weight: lighter;
}
.stars{
    color: #17abb3;
}
#carré li::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #17abb3;
    margin-right: 10px;
}
.formation li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
}
aside{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
aside:hover{
    background-color: #e3e3e3;
    border-left: 10px solid #17abb3;
}
data{
    color: #17abb3;
}
footer{
    background-color: #17abb3;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div i{
    font-size: 30px;
}
footer span {
    color: #ffffff;
    font-style: italic;
    margin-top: 10px;
}


